.*
!.git*
*.out
_*

data/gisaid_*.fa

results/*
!results/strain_counts
results/strain_counts/*
!results/strain_counts/*.csv

!results/mlr
results/mlr/*
!results/mlr/*.csv
!results/mlr/*.html

!results/compare_mlr_fits
results/compare_mlr_fits/*
!results/compare_mlr_fits/*.html

!results/growth_vs_titers
results/growth_vs_titers/*
!results/growth_vs_titers/*.html
